:root {
    --text-primary: #1C2024;
    --text-secondary: #60646C;
    --bg-light-2: #F0F0F3;
    --bg-light-1: #F9F9FB;
}

* {
    color: var(--text-primary);
}

.ticket-summary>a {
    display: block;
    color: var(--text-primary);
    text-decoration: none !important;
}

.stMainBlockContainer {
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 90px !important;
} 


.orgname {
    font-size: 44px; font-weight: bold;
}

.sentiment-chip {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 6px;
    background: #D0FFA1;
    display: inline-block;
    font-weight: semi-bold;
}


.card-container {
    padding: 24px;
    display: flex
;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #dadada;
    border-radius: 8px;
}

.ticket-title {
    font-size: 18px;
    font-weight: bold;
    gap: 4px;
    display: flex
;
    flex-direction: row;
    line-height: 1.5;
    cursor: pointer;
}

span.chip {
    padding: 2px 8px;
    background: var(--bg-light-2);
    border-radius: 4px;
    font-size: 13px;
    color: var(--text-secondary);
}

.chips {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.card-container .ticket-description {
    color: var(--text-secondary);
    overflow: hidden;
    max-height: 130px;
    text-overflow: ellipsis;
    white-space: break-spaces;
}


.ticket-title {
    font-size: 18px;
    font-weight: semi-bold;
  }
  
  .ticket-details tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  
  .ticket-details{
    border: 1px solid #000;
    border-collapse: collapse;
    border-radius: 8px;
  }
  
  .ticket-details td {
    padding: 12px;
  }

  .ticket-description {
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }

  .section-title {
    font-size: 20px;
    font-weight: 600;
    display: block;
  }

  .stColumn:nth-child(4) {
    padding: 12px;
    background-color: var(--bg-light-1);
  }


  .progress_bar {
    height: 12px;
    width: 100%;
    background: #dadada;
    border-radius: 20px;
    position: relative;
  }
  
  .progress {
    height: 100%;
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .progress.green {
    background: #46A758;
  }

  .progress.blue {
    background: #0090FF;
  }

  .progress.orange {
    background: #F76B15;
  }

  .progress.red {
    background: #E54D2E;
  }


  .title-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-end;
    justify-content: flex-start;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  padding: 8px;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  justify-content: center;
  border-radius: 8px;
  background: #EAE7EC;
  font-size: 32px;
  font-weight: normal;
  color: #80838D;
  text-transform: uppercase;
}

.titleName {
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 125%;
}

.tag-group {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.tag {
  font-size: 14px;
  color: #000000c4;
  padding: 2px 8px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 400;
  text-transform: capitalize;
  
}

.negative {
  background: #FFF8F7;
  border: 1px solid #F5A898;
  color: #000000c4;
}

.moderate {
  background: hsl(50, 100%, 98%);
  border: 1px solid hsl(50, 82%, 58%);
  color: #000000c4;
}

.neutral {
  background: hsl(198, 100%, 98%);
  border: 1px solid hsl(198, 82%, 78%);
  color: #000000c4;
}

span.chip.Resolved {
  background: #cdffc5;
}

span.chip.Pending {
  background: #ffdddd;
}

span.chip.Duplicate {
  background: #fff5dd;
}


.comment-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

.comment-title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-title-group .username {
  font-size: 16px;
  font-weight: bold;
}

.comment-title-group .addedDate {
  font-size: 14px;
  color: #666;
}

.comment {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.comment-container.approved {
  transform: scale(1.02);
  background: #f6fff5;
  border: 1px solid #9cc59a;
  border-radius: 4px;
}

.chip.approved {
  background: #41813e;
  color: #fff;
}